:root {
  --mystic: #dfe7ed;
  --catskillWhite: #f5f8fa;
  --alto: #dfdfdf;
  --burntSienna: #ea7645;
  --amber: #f3c300;
  --fern: #6dbc69;
  --robinsEggBlue: #00bcca;
  --bigStone: #12273c;
  --gullGray: #9ba6b2;
}
